{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
			<h2 class="my-6 text-center text-3xl font-extrabold text-gray-700">
				Create a new Contact
			</h2>
		</div>
    <div class=" bg-white rounded-lg overflow-hidden shadow-2xl flex flex-col justify-center py-12 sm:px-6 lg:px-12">
		
    {{ include('contact/_form.html.twig') }}
</div
{% endblock %}
